<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>project01</display-name>
  <welcome-file-list>
    <welcome-file>welcome.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationSuccessController</display-name>
    <servlet-name>RegistrationSuccessController</servlet-name>
    <servlet-class>com.bank.controller.RegistrationSuccessController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationSuccessController</servlet-name>
    <url-pattern>/rsuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankCrudController</display-name>
    <servlet-name>BankCrudController</servlet-name>
    <servlet-class>com.bank.controller.BankCrudController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankCrudController</servlet-name>
    <url-pattern>/banker</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLoginController</display-name>
    <servlet-name>CustomerLoginController</servlet-name>
    <servlet-class>com.bank.controller.CustomerLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLoginController</servlet-name>
    <url-pattern>/custlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountCreateController</display-name>
    <servlet-name>AccountCreateController</servlet-name>
    <servlet-class>com.bank.controller.AccountCreateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountCreateController</servlet-name>
    <url-pattern>/createaccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountSuccessController</display-name>
    <servlet-name>AccountSuccessController</servlet-name>
    <servlet-class>com.bank.controller.AccountSuccessController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountSuccessController</servlet-name>
    <url-pattern>/accountsuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositController</display-name>
    <servlet-name>DepositController</servlet-name>
    <servlet-class>com.bank.controller.DepositController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositController</servlet-name>
    <url-pattern>/deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawController</display-name>
    <servlet-name>WithdrawController</servlet-name>
    <servlet-class>com.bank.controller.WithdrawController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawController</servlet-name>
    <url-pattern>/withdraw</url-pattern>
  </servlet-mapping>
</web-app>